form {
  margin: 100px;
}
.title {
  background-color: #5b5b5b;
}
.main {
  height: 100vh;
}
@media screen and (max-width: 768px) {
  form {
    margin: 50px;
  }
}
/* Mobile */
@media screen and (max-width: 576px) {
  form {
    margin: 25px;
  }
}
