.data {
  width: auto;
  margin: 100px;
  margin-bottom: 0px;
}
.data h2 {
  background-color: #5b5b5b;
}
@media screen and (max-width: 768px) {
  .data h4 {
    font-size: 75%;
  }
  .main_form div span,
  .main_form div input,
  .main_form div a {
    font-size: 15px;
  }
  .data {
    margin: 50px;
  }
}
/* Mobile */
@media screen and (max-width: 576px) {
  .data h4 {
    font-size: 50%;
  }
  .main_form div span,
  .main_form div input,
  .main_form div a {
    font-size: 10px;
  }
  .data {
    margin: 25px;
  }
}
/* * {
  border: 1px solid red;
} */
